div.search-form.form-inline.my-2.my-lg-0
	input.form-control.mr-sm-2(type="search", placeholder="Search", id="search-input")
	button.btn.btn-outline-warning.my-2.my-sm-0.color-secondary-1-0(id="search-button")
		|Search
	div.spinner(id="loader")
		div.cube1
		div.cube2
div.results.container(id="results")
	h5(id="startermsg")
		i Search our catalogue for the cheapest prices on your favourite products!
	h6(id="watchmsg")
		span.watch-icon-left(id='watch-item', data-toggle='tooltip', data-placement='top' title='watch')
			i.far.fa-heart(id='w-unwatch')
			i.fas.fa-heart(id='w-watch')
			i.fas.fa-heart(id='watching')
		span(id="watchmsg-inner")
	div.row(id="row-1")
script(type='text/javascript').
	var watchList = []
	function setViewed(title){
		$.ajax({
			url: "http://localhost:8080/COMP4601_FINAL_SERVER/crafty/viewed",
			type: 'POST',
			data: {product:title}
		}).done(function(data){
			console.log(data);
			console.log("viewed");
		});
	}
	$( document ).ready(function() {
		$("#loader").hide();
		$("#watchmsg").hide();
		$("#watching").hide();
		if(Cookies.get('token') != "undefined"){
			$.getJSON("http://localhost:8080/COMP4601_FINAL_SERVER/crafty/watchList", function(data){
				console.log(data, data.watching);
				watchList = data.watching;
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log( "error " + textStatus);
			});
		}
	});
	var products = [];
	$("#search-button").click(function(){
		$("#startermsg").hide();
		if(!watchList.includes($('#search-input').val()) && Cookies.get('token') != "undefined"){
			console.log("wl ", watchList);
			$("#watchmsg").show();
		} else {
			$("#watchmsg").hide();
		}
		$("#watchmsg-inner").html("Watch for items matching '" + $('#search-input').val() + "'");
		$("#watchmsg").click(function(){
			$.ajax({
				url: "http://localhost:8080/COMP4601_FINAL_SERVER/crafty/watch",
				type: 'POST',
				data: {terms:  $('#search-input').val()}
			}).done(function(data){
				console.log(data);
				$("#watching").show();
				$("#w-unwatch").hide();
				$("#w-watch").hide();
			});
		});
		$("#loader").show();
		console.log("search");
		if(Cookies.get('token') != "undefined"){
			$.getJSON("http://localhost:8080/COMP4601_FINAL_SERVER/crafty/queryRecommend/" + $('#search-input').val(), function(data){
				var row = 0;
				$.each(data, function(index, product) {
					if(index % 3 == 0){
						$("#results").append("<div class='row' id='row-"+row+"'></div>");	
						row++;
					}
				});
				$("#loader").hide();
				row = 0;
				$.each(data, function(index, product) {
					if(index % 3 == 0){
						row++;
					}
					console.log("row-"+row);
					$("#row-"+row).append("<div class='col-sm'>" +
						"<div class='card'>" +
							"<h5 class='card-title product-title'>" + product.title + 
							//( product.suggested? "<span class='badge badge-info suggested'>Suggested</span>" : "") + 
							"</h5>" +
							"<h6 class='card-title'>"+
								"<i>" + product.store + "</i>" +
							"</h6>" +
							"<p class='card-text color-secondary-2-0'>" + product.price + "</p>" +
							"<a class='btn background-primary-2 btn-buy' target='_blank' href='"+product.url+"' onclick=\"setViewed('" + product.title + "')\">Buy</a>" +
						"</div>" +
					"</div>");
				})
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log( "error " + textStatus);
			});
		} else {
			$.getJSON("http://localhost:8080/COMP4601_FINAL_SERVER/crafty/query/" + $('#search-input').val(), function(data){
				var row = 0;
				$.each(data, function(index, product) {
					if(index % 3 == 0){
						$("#results").append("<div class='row' id='row-"+row+"'></div>");	
						row++;
					}
				});
				$("#loader").hide();
				row = 0;
				$.each(data, function(index, product) {
					if(index % 3 == 0){
						row++;
					}
					console.log("row-"+row);
					$("#row-"+row).append("<div class='col-sm'>" +
						"<div class='card'>" +
							"<h5 class='card-title product-title'>" + product.title + 
							//( product.suggested? "<span class='badge badge-info suggested'>Suggested</span>" : "") + 
							"</h5>" +
							"<h6 class='card-title'>"+
								"<i>" + product.store + "</i>" +
							"</h6>" +
							"<p class='card-text color-secondary-2-0'>" + product.price + "</p>" +
							"<a class='btn background-primary-2 btn-buy' target='_blank' href='"+product.url+"' onclick=\"setViewed('" + product.title + "')\">Buy</a>" +
						"</div>" +
					"</div>");
				})
			}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
				console.log( "error " + textStatus);
			});
		}
		
	});