form.search-form.form-inline.my-2.my-lg-0
	input.form-control.mr-sm-2(type="search", placeholder="Search")
	button.btn.btn-outline-warning.my-2.my-sm-0.color-secondary-1-0(type="submit")
		|Search
div.results.container
	div.row
		div.col-sm
			div.card
				h5.card-title
					|Item
				h6.card-title
					i store
				p.card-text.color-secondary-2-0
					|price
				a.btn.background-primary-2.btn-buy(href="")
					|Buy
		div.col-sm
			div.card
				h5.card-title
					|Item
				h6.card-title
					i store
				p.card-text.color-secondary-2-0
					|price
				a.btn.background-primary-2.btn-buy(href="")
					|Buy
		div.col-sm
			div.card
				h5.card-title
					|Item
				h6.card-title
					i store
				p.card-text.color-secondary-2-0
					|price
				a.btn.background-primary-2.btn-buy(href="")
					|Buy