div.search-form.form-inline.my-2.my-lg-0
	input.form-control.mr-sm-2(type="search", placeholder="Search", id="search-input")
	button.btn.btn-outline-warning.my-2.my-sm-0.color-secondary-1-0(id="search-button")
		|Search
div.results.container(id="results")
	div.row(id="row-1")
script(type='text/javascript').
	var products = [];
	$("#search-button").click(function(){
		console.log("search");
		$.getJSON("http://localhost:8080/COMP4601_FINAL_SERVER/crafty/query/" + $('#search-input').val(), function(data){
			var row = 0;
			$.each(data, function(index, product) {
				if(index % 3 == 0){
					$("#results").append("<div class='row' id='row-"+row+"'></div>");	
					row++;
				}
			});
			row = 0;
			$.each(data, function(index, product) {
				if(index % 3 == 0){
					row++;
				}
				console.log("row-"+row);
				$("#row-"+row).append("<div class='col-sm'>" +
					"<div class='card'>" +
						"<h5 class='card-title product-title'>" + product.title + "</h5>" +
						"<h6 class='card-title'>"+
							"<i>" + product.store + "</i>" +
						"</h6>" +
						"<p class='card-text color-secondary-2-0'>" + product.price + "</p>" +
						"<a class='btn background-primary-2 btn-buy' target='_blank' href='"+product.url+"'>Buy</a>" +
					"</div>" +
				"</div>");
			})
		}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
			console.log( "error " + textStatus);
		});
	});