nav.navbar.navbar-expand-md.background-primary-0(role="navigation")
    a.navbar-brand(href="/")
        |Crafty
    button.navbar-toggler(type="button", data-toggle="", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
            |menu
    div.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="http://localhost:8080/COMP4601_FINAL_SERVER/crafty")
                    |catalogue
            li.nav-item
                a.nav-link(href="http://localhost:8080/COMP4601_FINAL_SERVER/crafty/dashboard", id="dblink")
                    |dashboard
    span.navbar-text
        a.btn.background-primary-3(id="add-prod", href="http://localhost:8080/COMP4601_FINAL_SERVER/crafty/addProduct")
            i.fas.fa-plus
            |Add Product
        a.btn.background-primary-3(id="login", href="http://localhost:8080/COMP4601_FINAL_SERVER/crafty/login")
            |Login
        a.btn.background-primary-3(id="logout")
            |Logout
script(type='text/javascript').
    $( document ).ready(function() {
        if(Cookies.get('token') != "undefined"){
            $("#login").hide();
            $("#logout").show();
        } else {
            $("#dblink").hide();
            $("#logout").hide();
        }
    });

    $("#logout").click(function(){
        Cookies.set('token', undefined);
        window.location.href = "http://localhost:8080/COMP4601_FINAL_SERVER/crafty/login";
    });