nav.navbar.navbar-expand-md.background-primary-0(role="navigation")
    a.navbar-brand(href="/")
        |Crafty
    button.navbar-toggler(type="button", data-toggle="", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="/catalogue")
                    |catalogue
            li.nav-item
                a.nav-link(href="/dashboard")
                    |dashboard
        span.navbar-text
            | some text