<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>crafty</display-name>
  <context-param>
   <description>Art Supply Search</description>
   <param-name>name</param-name>
   <param-value>Brittny Lapierre and Kelly Maclauchlan</param-value>
  </context-param>
  <servlet>
    <servlet-name>crafty</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <!--servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class-->
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>comp4601.project.resources</param-value>
    </init-param>
    <!--init-param>
    	<param-name>org.glassfish.jersey.api.json.POJOMappingFeature</param-name>
    	<param-value>true</param-value>
	</init-param  -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>crafty</servlet-name>
    <url-pattern>/crafty/*</url-pattern>
  </servlet-mapping>
</web-app>